# --- Core API ---
fastapi
uvicorn
gunicorn
pydantic-settings
python-dotenv
python-multipart

# --- Firebase ---
firebase-admin

# --- Data & ML ---
pandas
scikit-learn
# xgboost
# lightgbm
# catboost
# shap
joblib
openpyxl
slowapi

# --- Plotting ---
matplotlib
seaborn

# --- Vercel Services ---
vercel-blob
vercel-kv

# --- Redis ---
redis