# --- Core API ---
fastapi
uvicorn
gunicorn
pydantic-settings
python-dotenv
python-multipart

# --- Data & ML ---
pandas
scikit-learn
# xgboost
# lightgbm
# catboost
# shap
joblib
openpyxl  # Needed for pandas.read_excel()

# --- Plotting ---
matplotlib
seaborn

# --- Vercel Services ---
vercel-blob
vercel-kv